# electron 二进制走 npmmirror 镜像,避免默认 github releases 在国内龟速/失败
#electron_mirror=https://registry.npmmirror.com/mirrors/electron/
#electron_architecture=arm64
registry=https://mirrors.cloud.tencent.com/npm/
